.container {
  display: flex;
  align-items: center;
  flex-direction: column;

}
.image-container {
  width: 1200px;
  height: 600px;
  position: relative;
  border: rgba(0, 0, 0, 0.4) 1px solid;

}

.im {
  position: absolute;
  left: 0px;
  top: 0px;
}

.main-table {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}

.block-pp {
  width: 598px !important;
  height: 600px !important;
  position: relative;
  left: 0px;
  top: 0px;
}

.block-main-div {
  position: relative;
  right: 0px;
  top: 0px;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.fillDiv {
  background: none;
}
.fillDiv:hover {
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgba(47, 70, 49, 0.3);

  opacity: 1;
}

.paySector {
    box-sizing: border-box;
  width: 6px;
  height: 6px;
  border-left: rgba(119, 156, 122, 0.5) 1px dotted;
  border-bottom: rgba(119, 156, 122, 0.5) 1px dotted;
    background: rgba(47, 70, 49, 0.2);
  opacity: 1;
}

.noPaySector {
    box-sizing: border-box;
    /* background: rgba(47, 70, 49, 0.2); */
  border-left: rgba(119, 156, 122, 0.5) 1px dotted;
  border-bottom: rgba(119, 156, 122, 0.5) 1px dotted;
  width: 6px;
  height: 6px;
}
