.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.image-container {
  width: 1200px;
  height: 900px;
  position: relative;
}

.im {
  position: absolute;
  left: 0px;
  top: 0px;
}

.main-table {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}

.block-pp {
  width: 599px !important;
  height: 900px !important;
  position: relative;
  left: 0px;
  top: 0px;
}

.block-main-div {
  position: relative;
  right: 0px;
  top: 0px;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.fillDiv {
  background: none;
}
.fillDiv:hover {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.paySector {
  width: 5px;
  height: 8px;
  border-right: rgba(202, 204, 202, 0.4) 1px dotted;
  border-bottom: rgba(202, 204, 202, 0.4) 1px dotted;
  background: rgba(47, 70, 49, 0.5);
  opacity: 1;
}

.noPaySector {
  width: 5px;
  height: 8px;
}
